# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dev-Studio crap
*.ncb
*.suo
*.user
*.tss
*.opensdf
*.sdf

# Built crap
Build/
ChineseCheckers
*.snap
Snap/stage/
Snap/parts/
Snap/prime/

# Misc
.sconf_temp/
.sconsign.dblite
config.log
