# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dev-Studio crap
*.ncb
*.suo
*.user
*.tss

# Built crap
Build/

# Misc
.sconf_temp/
.sconsign.dblite
config.log
